{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <h2>Why learn Chemistry? Check out these testimonials!</h2>

    <section class="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="/static/person1.png" class="user">
                        <h4>Aglaonice </h4>
                        <span>First Female Astronomer in Ancient Greece, Thessalian Enchantress</span><br>
                        <blockquote>You get math and science in one class! They will give you the ability to make the moon disappear!</blockquote>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="/static/person2.png" class="user">
                        <h4>Jonas Salk</h4>
                        <span>Developer of Polio Vaccine, Role Model for...</span>
                        <blockquote>You will know how to spell and pronounce phenolphthalein.</blockquote>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="/static/person3.png" class="user">
                        <h4>Rachel Carson</h4>
                        <span>Author of <i>Silent Spring</i>, Environmental Activist</span>
                        <blockquote>You will get to brag about being a chem survivor.</blockquote>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="/static/person4.png" class="user">
                        <h4>Albert Einstein</h4>
                        <span>Nobel Prize Winner, Developer of Relativity Theory, Most Popular Meme Pictures</span>
                        <blockquote>This class will increase your chance of survival in a zombie apocalypse.</blockquote>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="/static/person5.png" class="user">
                        <h4>Neil deGrasse Tyson</h4>
                        <span>Astrophysicist, Host of the Amazing Show <i>Cosmos</i>, Zombie Apocalypse Non-Believer</span>
                        <blockquote>Titration is the best!</blockquote>
                    </div>
                </div>
                <div class="col-md-4 text-center">
                    <div class="profile">
                        <img src="/static/person6.png" class="user">
                        <h4>Tsuneko Okazaki</h4>
                        <span>Cofounder of the Okazaki Fragments, Woman in Science</span>
                        <blockquote>You will develop a mind of steel, if you survive the class, that will prepare you for whatever life throws at you.</blockquote>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}